<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{layout/layout}">

<th:block th:fragment="like">
    <!-- iタグでもdivタグでも挙動変わらない
    data-postIdとしてもブラウザ側では、data-postidと小文字になるため注意 -->
    <i class="heart fa-regular fa-heart" value="like" th:data-postid="${post.id}"></i>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/like.js}"></script>
</th:block>



</html>