<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
	<section class="flex flex-col items-center bg-gradient-to-br from-violet-800 via-pink-700 to-orange-700">
		<div class="flex flex-col items-center pt-8 text-center lg:pt-20 lg:pb-10">
			<h1 class="font-semibold mb-8 text-4xl font-bold sm:text-5xl md:mb-12 md:text-6xl">
				Photo Map
			</h1>

			<div class="relative">
				<div class="flex flex-col items-center justify-between pt-0 pr-10 pb-0 pl-10 mt-0 mr-auto mb-0 ml-auto max-w-7xl xl:px-5 lg:flex-row">
				  <div class="flex flex-col items-center w-full pr-10 pb-10 pl-10 lg:pt-10 lg:flex-row">
					<div class="w-full bg-cover relative max-w-md lg:max-w-2xl lg:w-7/12">
					  <div class="flex flex-col items-center justify-center w-full h-full relative lg:pr-10">
						<img src="images/top.png" alt="Topページの画像">
					  </div>
					</div>
					<div class="w-full mt-20 mr-0 mb-0 ml-0 relative z-10 max-w-2xl lg:mt-0 lg:w-5/12">
					  <div class="flex flex-col items-start justify-start pt-5 pr-10 pb-5 pl-10 shadow-2xl rounded-xl relative z-10">
						<p class="w-full text-4xl font-medium text-center leading-snug font-serif">使い方</p>
						<div class="text-left">
							<p class="flex w-full text-2xl font-medium leading-snug font-serif">1.会員登録をする</p>
							<p class="flex w-full text-2xl font-medium leading-snug font-serif">2.場所を載せて画像を投稿する</p>
							<p class="flex w-full text-2xl font-medium leading-snug font-serif">3.タイムラインの投稿を見る</p>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			<div
				class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
				<a href="/users/new" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">会員登録をする</a>
				<a href="/posts" class="inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">タイムラインへ</a>
			</div>
		</div>
	</section>
</th:block>
</html>